<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google API</title>

    <link rel="stylesheet" type="text/css" href="/static/css/login_page_styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/scripts/login_script.js"></script>
    <h1>Login</h1>

</head>
<body>
    <div class="container">
        <form action="validation_login" method="post">
            {% csrf_token %}
            <div class="form-input">
                <input type="text" id="userid" name="userid" placeholder="Type User ID" ><br/>
            </div>
            <div class="form-input">
                <input type="text" id="password" name="password"  placeholder="Type Your Password" ><br/>
            </div>
            <div class="form-input">
                <input type="submit" id ="register" value="Login" class="btn-submit">
                <input type="reset" id ="reset" value="Reset" class="btn-reset">
            </div>
        </form>
    </div>
</body>
</html>